body {
  background-color: #121212;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.login-background {
  position: absolute;
  top: 20;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;

  z-index: 2;
}

.login-content {
  position: absolute;
  margin-left: 10%;
}
